%aside.col-md-3
  .list-group
    .list-group-item
      - unless @topic.is_root?
        .ancestry.topic_ancestry
          - @topic.ancestors.each do |ancestor|
            = link_to ancestor.name, ancestor
            %span /
      .topic_name
        %h2
          = @topic.name.titleize
      %p
        %em= @topic.description
      .submit_instructional_button
        = link_to "Submit an instructional",
                  new_topic_instructional_path(@topic),
                  class: "btn btn-success"
  - if @topic.children.any?
    .list-group.subtopics
      .list-group-item
        %h4 Subtopics (#{@topic.children.count})
      - @topic.children_by_priority.each do |child|
        .list-group-item= link_to child.name, topic_path(child)
.col-md-9
  = render @instructionals if @instructionals.any?
  = will_paginate @instructionals