%aside.col-md-3
  %h2
    = @topic.name.titleize
    - if @topic.parent
      %span.parent_topic_name
        ="(#{link_to @topic.parent_name, @topic.parent})".html_safe
  %p
    %em= @topic.description
  = link_to "History", "#", class: "list-group-item"
  = link_to "Techniques", "#", class: "list-group-item"
  = link_to "Concepts", "#", class: "list-group-item"
.col-md-9
  .container
    - @topic.subtopics.each do |s|
      = link_to s.name, topic_path(s)