- unless @topic.is_root?
  %ol.breadcrumb
    - @topic.ancestors.each do |ancestor|
      %li= link_to ancestor.name, ancestor
    %li.active= link_to @topic.name, @topic
%aside.col-md-3
  .list-group
    .list-group-item
      %h2
        = @topic.name.titleize
      %p
        %em= @topic.description
    - @topic.children.each do |child|
      .list-group-item= link_to child.name, topic_path(child)
.col-md-9
  = render @instructionals if @instructionals.any?
  = will_paginate @instructionals
  - if @related.any?
    .list-group-item
      %h3 Related Instructionals
    = render @related