%nav.navbar.navbar-default.navbar-static
  .container-fluid
    = render 'layouts/navbar_header'
    .collapse.navbar-collapse#main-navbar
      %ul.nav.navbar-nav.navbar-left
        %li.dropdown.hidden-xs.hidden-s#subject_nav
          %a{ "href": "#subject_nav_inner", "data-toggle": "collapse", "data-parent": "#subject_nav", "aria-expanded": true, "aria-controls": "#subject_nav_inner"}
            Disciplines <span class="caret" />
        %li
          %form.navbar-form
            .input-group
              %input.form-control{"type": "text", "placeholder": "Search"}
              %span.input-group-btn
                %button.btn.btn-default{"type": "submit"}
                  %span.glyphicon.glyphicon-search
        %li.visible-xs.visible-s
          = render "layouts/discipline_links"
      %ul.nav.navbar-nav.navbar-right
        - if current_user.try(:is_admin?)
          %li
            = link_to "Admin", admin_root_url
        - if current_user
          %li.dropdown
            %a.dropdown-toggle#user-dropdown{"href": "#", "data-toggle": "dropdown", "aria-expanded": true}
              #{current_user.email}<span class="caret" />
            %ul.dropdown-menu{"role": "menu", "aria-labelledby": "user-dropdown"}
              %li= link_to "Settings", edit_user_registration_path
              %li= link_to "Profile", "#"
              %li.divider
              %li= link_to "Sign out", destroy_user_session_path, method: :delete
        - else
          %li= link_to "Sign in", new_user_session_path
.collapse.hidden-xs.hidden-s#subject_nav_inner
  = render "layouts/discipline_links"